#Sailing祝福 {
    width: 200px;
    height: 250px;
    margin-left: 140px;
    border: 16px solid #ebf301;
}

#sailingtext {
    margin-left: 340px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif color: #000000;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

#Jason妈妈祝福 {
    width: 200px;
    height: 250px;
    margin-top: -600px;
    margin-bottom: 190px;
    margin-left: 650px;
    border: 16px solid #ebf301;
}

#jason妈妈text {
    margin-left: 650px;
    margin-top: -180px;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    color: #000000;
    text-shadow: 1.5px 1.5px rgb(255, 255, 255);
}

#温州祝福 {
    width: 240px;
    height: 250px;
    margin-top: -600px;
    margin-bottom: 210px;
    margin-left: 960px;
    border: 16px solid #ebf301;
}

#温州text {
    margin-left: 970px;
    margin-top: -200px;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    color: #000000;
    text-shadow: 1.5px 1.5px rgb(255, 255, 255);
}