#Sailing祝福 {
    width: 200px;
    height: 250px;
    margin-left: 200px;
    border: 16px solid #ebf301;
}

#Jason妈妈祝福 {
    width: 200px;
    height: 250px;
    margin-top: 800px;
    margin-left: 700px;
    border: 16px solid #ebf301;
}

#text1 {
    color: white
}