#Sailing祝福 {
    width: 200px;
    height: 250px;
    margin-left: 200px;
    border: 16px solid #ebf301;
}

#Jason妈妈祝福 {
    width: 240px;
    height: 250px;
    margin-top: -860px;
    margin-left: 330px;
    border: 16px solid #ebf301;
}